{% extends "layouts/module_admin.html" %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="wsServer">Websocket</a></li>
{% endblock %}

{% block module %}

<button class="btn btn-primary" onclick="getClients()"><span class="fas fa-rotate me-2"></span>{{ _('Refresh')}}</button>
<table id="data-table" class="table table-hover">
    <thead>
        <tr>
            <th>{{ _('Username')}}</th>
            <th>IP</th>
            <th>SID</th>
            <th>{{ _('Connected')}}</th>
            <th>{{ _('Transport')}}</th>
        </tr>
    </thead>
    <tbody>
        <!-- Data clients -->
    </tbody>
</table>
<div id="messages"></div>
<script>
    var sid = ''
    const maxMessages = 100;
    function sendMessage() {
        var input = document.getElementById('message-input');
        var message = input.value;
        input.value = '';
        socket.emit('message', message);
    }
    function getClients(){
        socket.emit('clients');    
    }
    // Функция для добавления сообщения на страницу
    function addMessage(event, data) {
        const messagesDiv = document.getElementById('messages');
        // Создаем новый элемент для сообщения
        const messageElement = document.createElement('div');
        messageElement.className = 'message'; // Присваиваем класс для стилей
        // Создаем элемент для времени
        const timestampElement = document.createElement('span');
        timestampElement.className = 'badge bg-secondary'; // Присваиваем класс для стилей
        const now = new Date();
        timestampElement.textContent = now.toLocaleTimeString(); // Форматирование времени
        // Создаем элементы для имени события и данных
        const eventElement = document.createElement('span');
        if (event == "say") eventElement.className = 'badge bg-danger';
        else if (event == "changeProperty") eventElement.className = 'badge bg-success';
        else if (event == "changeObject") eventElement.className = 'badge bg-info';
        else if (event == "executedMethod") eventElement.className = 'badge bg-warning';
        else eventElement.className = 'badge bg-primary';
        eventElement.textContent = event;
        const dataElement = document.createElement('span');
        dataElement.style = "font-size:12px";
        dataElement.textContent = JSON.stringify(data);
        // Добавляем элементы к сообщению
        messageElement.appendChild(timestampElement);
        messageElement.appendChild(eventElement);
        messageElement.appendChild(dataElement);
        // Добавляем сообщение в начало контейнера
        messagesDiv.insertBefore(messageElement, messagesDiv.firstChild);

        // Удаляем старые сообщения, если их больше указанного
        const messages = messagesDiv.getElementsByClassName('message');
        if (messages.length > maxMessages) {
            messagesDiv.removeChild(messages[messages.length - 1]);
        }
    }
    document.addEventListener('DOMContentLoaded', function() {
        socket.on('connect', function() {
            sid = socket.id;
            socket.emit('subscribeActions', ['executedMethod']);
            socket.emit('subscribeProperties',["*"]);
            socket.emit('subscribeObjects',["*"]);
            socket.emit('subscribeData',["*"]);
        });
        socket.onAny((eventName, ...args) => {
            //console.log('Received message:', eventName, args[0]);
            addMessage(eventName, args[0]);
        });
        socket.on('clients', function(data) {
            var tableBody = document.querySelector('#data-table tbody');
            tableBody.innerHTML = '';
            Object.keys(data).forEach(function(key) {
                var item = data[key]
                var row = document.createElement('tr');
                var current = ""
                if (key == sid)
                    current = '<span class="badge badge-sm bg-success ms-3">current</span>'
                row.innerHTML = `
                    <td>${item.username}</td>
                    <td>${item.ip}</td>
                    <td>${key}${current}</td>
                    <td>${item.connected}</td>
                    <td>${item.transport}</td>
                `;
                tableBody.appendChild(row);
            });
        });
        getClients()
        socket.emit('subscribeActions', ['executedMethod']);
        socket.emit('subscribeProperties',["*"]);
        socket.emit('subscribeObjects',["*"]);
        socket.emit('subscribeData',["*"]);
    })
</script>
{% endblock %}